-content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Cash/Bank Account', cashes_path

.row-fluid
  .span8
    %h1.n
      = @cash.account.name
      = currency_label @cash.account.currency
  .span4.r
    .btn-group
      = link_to "Edit this account...", edit_cash_path(@cash), class: 'btn'

.row-fluid
  .span6
    %i.muted.icon-phone(title='Phone' data-toggle='tooltip')
    = @cash.bank_name
    %i.muted.icon-globe(title='Website' data-toggle='tooltip')
    = @cash.bank_addr
    = @cash.account_no
    = @cash.account_name



%h2 Transacciones

- txn = @cash.account.account_ledgers

= paginate txn.page(@page)

%ul.unstyled.listing
  = render partial: 'account_ledgers/money', collection: txn, as: :ledger, locals: { current_account_id: @cash.account.id }

= paginate txn.page(@page)
