
:ruby
  @page_title = "Cash/Bank: #{@cash.account.name} (#{@cash.account.currency})"
  @crumbs = [
    ['Cash/Bank Account', cashes_path] ]


-content_for :links do
  %div.btn-group{role: "group"}
    = link_to "Edit this account...", edit_cash_path(@cash), class: 'btn'



.row
  .col Bank Name:
  .col= @cash.bank_name
.row
  .col Bank Addr:
  .col= @cash.bank_addr
.row
  .col Account No:
  .col= @cash.account_no
.row
  .col Account Name:
  .col= @cash.account_name



%h2 Transacciones

- txn = @cash.account.account_ledgers

= paginate txn.page(@page)

%ul.unstyled.listing
  = render partial: 'account_ledgers/money', collection: txn, as: :ledger, locals: { current_account_id: @cash.account.id }

= paginate txn.page(@page)
