
<% # @param @order_details 明細
   # @param f  form object %>
   
<h2 class="dark" id="items-header">
  <%= t('views.movements.form_items.items') %>
  <span class="n" style="font-size: 13px"><%= link_to t('views.movements.form_items.view_items'), items_path, target: '_blank' %></span>
</h2>


<div class="row text-bg-secondary">
  <div class="col-3">
      <%= t('views.movements.form_items.item') %>
  </div>
  <div class="col-1">
      <%= t('views.movements.form_items.price') %>
    </div>
  <div class="col-1">
      <%= t('views.movements.form_items.quantity') %>
      <br />
      UoM 
  </div>
  <div class="col-4">Description</div>
  <div class="col-2">
      <%= t('views.movements.form_items.line_total') %>
    </div>
</div>

<% # 手抜いて, フォームをベタ書きする。
  %>

<% lines = [@order_details.length + 2, 6].max %>
<% (0.. lines - 1).each do |idx|
     detail_obj = @order_details[idx] ||
                  MovementDetail.new() %>
  <%= render partial: "movements/detail_edit_row",
             locals: {lineno: idx + 1, detail_obj: detail_obj} %>
<% end %>
  

    <div class="span2 r">
      <label class="visible-phone"><%= t('views.movements.form_items.line_total_label') %></label>
      <div class="input total-line">
        {{ detail.subtotal() | decimal }}
      </div>
      <span class="space">
        <a class="dark" href="javascript:;" ng-click="destroy($index)" tabindex="-1">
          <%= icon_delete %>
        </a>
      </span>
    </div>
  </li>

  <li class="row-fluid subtotal">
    <div class="span6">
      &nbsp;
      <a id="add-item-link" class="btn" ng-click="addDetail()">
        <i class="icon-plus-sign"></i>
        <%= t('views.movements.form_items.new_line') %>
      </a>
    </div>
    <div class="span2">
      &nbsp;
    </div>
    <div class="span2 r">
      <%= t('views.movements.form_items.subtotal') %>
      <span class="currency"></span>
    </div>
    <div class="span2 r">
      <span class="subtotal">{{ subtotal() | decimal }}</span>
      <span class="space">&nbsp;</span>
    </div>
  </li>

  <li class="row-fluid taxes">
    <div class="span10 r">
      <label><%= t('views.movements.form_items.taxes') %></label>
      <input id="taxes" type="hidden" data-taxes="<%= Tax.all.to_json(only: [:id, :name, :percentage]) %>">

      <%= f.text_field :tax_id, 'ng-model' => 'tax_id', id: 'tax_id', class: 'hide', 'initial' => true %>
      <div class="input-append">
        <select id="tax-id" ng-model="tax" ng-change="setTaxId()" ng-options="[t.name, ' (', t.percentage, '%)' ].join('') for t in taxes track by t.id">
          <option value=""></option>
        </select>

        <% if user_with_role.is_admin? || user_with_role.is_group? %>
          <%= link_to icon('icon-plus-sign'), new_tax_path, title: t('views.movements.form_items.new_tax'),
            class: 'btn ajax add-new-url add-new-tax', data: { width: 400 } %>
        <% end %>
      </div>

      <a id="tax-in-out-btn" class="btn btn-small btn-info b" data-toggle="button" ng-click="tax_in_out=!tax_in_out">{{ taxLabel() }}</a>
      <span class="hide"><%= f.check_box :tax_in_out, 'ng-model' => 'tax_in_out', id: 'tax_in_out' %></span>

      <span class="currency"></span>
    </div>

    <div class="span2 r">
      <span class="taxes">{{ taxTotal() | decimal }}</span>
      <span class="space">&nbsp;</span>
    </div>
  </li>

  <li class="row-fluid total">
    <div class="span10 r">
      <strong><%= t('views.movements.form_items.total') %></strong>
      <span class="currency"></span>
    </div>
    <div class="span2 r">
      <strong class="total">{{ total() | decimal }}</strong>
      <span class="space">&nbsp;</span>
    </div>
  </li>
</ul>

<script type="text/javascript">
  $(function() {
    $('.movement-details').on('click', "input[type='number']", function(event) {
      $(this).select();
    });
  })
</script>
