<% # @param f form object 
   # @param @order order object %>

<div class="row-fluid">
  <div class="span6 contact autocomp">
    <% if @order.new_record? %>
      <%= f.select :contact_id, options_from_collection_for_select(Contact.all, :id, :name, @order.contact_id), required:false, help: "Only new record" %>
    <% else %>
      <label><%= t('general.contact') %></label>
      <%= @order.contact.name %>
    <% end %>
  </div>
  <div class="span3">
    <%= f.date_field :date, label: t('movement_attributes.date'), as: :datepicker %>
  </div>
  <div class="span3">
    <%= f.date_field :due_date, as: :datepicker, label: t('movement_attributes.due_date') %>
  </div>
</div>
