<div id="general-aspects" style="display:none">
  <% t = Time.zone.now %>
  <div class="row-fluid">
    <div class="span12">
      <h2 id="general-aspects-title" class="n"><%= t("views.dashboard.index.general_aspects") %></h2>
      General aspects
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="well well-small">
        <h4 class="n">Changes by users</h4>
        <p class="muted">
          Shows the changes that a user
          made to a record in the system
        </p>

        <ul class="unstyled">
          <li>
            <i class="icon-user blue" title="MODIFIED by: <%= current_user %> <%= l t %>, ID: <%= current_user.id %>" data-toggle="tooltip"></i>
            <strong>Modified by</strong>
          </li>
          <li>
            <i class="icon-user dark" title="CREATED: <%= current_user %> <%= l t %>, ID: <%= current_user.id %>" data-toggle="tooltip"></i>
            <strong>Created by</strong>
          </li>
          <li>
            <i class="icon-user bonsai-dark" title="APPROVED: <%= current_user %> <%= l t %>, ID: <%= current_user.id %>" data-toggle="tooltip"></i>
            <strong>Approved by</strong>
          </li>
          <li>
            <i class="icon-user text-error" title="NULLED: <%= current_user %> <%= l t %>, ID: <%= current_user.id %>" data-toggle="tooltip"></i>
            <strong>Nulled by</strong>
          </li>
        </ul>
      </div>
    </div>

    <div class="span4">
      <div class="well well-small">
        <h4 class="n">Currency</h4>
        <p class="muted">
          Currencies are displayed in the following format, hover over each currency code
        </p>
        <p>
          <%= ntc 125.25 %>
          <%= currency_label(currency) %>
          &nbsp;
          <%= ntc 150 %>
          <%= currency_label('USD') %>
          &nbsp;
          <%= ntc 200 %>
          <%= currency_label('EUR') %>
        </p>
      </div>
    </div>

    <div class="span4">
      <div class="well well-small">
        <h4 class="error n">
          Errors
        </h4>
        <p class="muted">
          When there are errors in a record, they will be shown in red
          or will display the message
          <span class="label label-important">ERROR</span>
        </p>
      </div>
    </div>
  </div>
</div>
