
- @page_title = "Purchase Order ##{@order.id}"

- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Purchase Order", purchase_orders_path

.row-fluid
  .span6
    %small(title='Status' data-toggle='tooltip')= @order.state

    %h4.ib.n
      = link_to @order.contact, partner_path(@order.contact.id), title: 'Contacto', data: {toggle: 'tooltip'}

    .clearfix
    -# %tagsfor(tag_ids="#{@order.tag_ids}" id="#{@expense.id}")

    %h5.n.ib
      %span.muted Fecha:
      %i= @order.date
      = render_if @order.delivery_date  do
        = @order.delivery_date


  .span6.r.buttons
    %input.row-check.hidden(type='checkbox' id="#{@order.id}" checked='checked')
    -# Approve form
    = render 'tags/tags', model: 'Expense', hide_tags_filter: true

    = button_to 'Confirm', confirm_purchase_order_path(@order.id), class: 'btn btn-success', method: :patch  if policy(@order).confirm?

    = button_to 'Void', void_purchase_order_path(@order.id), method: :patch, class: 'btn btn-danger',
      data:{turbo_confirm: 'Esta segur@ de anular el Ingreso?'}  if policy(@order).void?

    = link_to "Edit...", edit_purchase_order_path(@order.id), class: 'btn'  if policy(@order).update?

.row-fluid.expense
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        %span.total= ntc @order.total
        = @order.currency

    .moneybox
      %label SALDO
      %h5.n
        %span.balance= ntc @order.balance_inventory




= render "movements/items"


- unless @order.draft?
  .row-fluid
    .span6.bg-white
      -#= render 'ledger_details', expense: @expense

    #inventory.span6.bg-white
      -#= render 'inventory_details', expense: @expense



-#Tours
-#= render 'expenses/tour_devolution'

:javascript
  $( function() {
    // null expense
    $('#null-expense-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })
  });
