
%li.row-fluid.contact(data-data="#{contact.incomes_expenses_status.to_json}")
  .span3
    .checkbox-l
      %input.row-check(type='checkbox' id="#{contact.id}")
    .checkbox-r
      %h4
        = link_to contact.name, {action:"show", id:contact}, title: 'Name'
      .cleafix
      .clearfix
      = contact.email
      .clearfix
      %tagsfor(tag_ids="#{contact.tag_ids}" id="#{contact.id}")
  .span4
    .span8
      = contact.tax_number

      .clearfix
      = contact.address
    .span4
      = contact.phone
      .clearfix
      = contact.mobile


  .span1
    = link_to icon_edit, edit_partner_path(contact), class: 'dark'
    = link_to icon_delete, partner_path(contact), class: 'dark', method: 'delete'
