
= @partner.errors.inspect
= bonsai_form_error(f)

= f.text_field :matchcode, label: 'matchcode:',
        input_html: { class: 'matchcode span11' }
= f.text_field :name
= f.email_field :email, lanel: "E-mail:", input_html: { class: 'span11' }

= f.text_field :phone, label: "Phone:", input_html: {size: 20}

= f.text_field :mobile, label: "Mobile:", input_html: {size: 20}

= f.text_field :tax_number, label: 'Tax Number:'

= f.text_field :address, input_html: {rows: 3, cols: 45}, label: 'Address:'


:javascript
  $( function() {
    /*
    $('body').on('focusout', '.matchcode', function(event) {
      arr = this.value.trim().split(" ");
      $('.first_name').val(arr[0]);
      arr.shift();

      $('.last_name').val( arr.join(" "));

      $('.first_name, .last_name').mark();
    });
    */
  });
