
- @page_title = "Edit " + @partner.name

- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Business Partners", partners_path
    %li
      %i.icon-caret-right
    %li
      = @partner

.row-fluid
  .span6.r
    = link_to icon_show_text, partner_path(@partner.id), class: 'btn'

= bootstrap_form_with model: @partner, url:{action:"update", id: @partner},
                      layout: :horizontal do |f|
  = render partial: 'partners/form', locals:{f:f}

  .form-actions
    = f.submit 'Update', class: 'btn btn-primary'

