
- @page_title = "Business Partners"

- content_for :links do
  %div.btn-group{role: "group"}
    = link_to 'Export', partners_path(format: 'xls'), class: 'btn'
    = link_to "New Business Partner...", new_partner_path, class: 'btn btn-secondary'



= render 'search'
%p
  = @search_term ? "Search: " + @search_term : ""

- paginate_html = paginate(@partners)

= paginate_html

%ul.unstyled.listing.has-row-check
  - @partners.each do |partner|
    = render partial:"contact", locals:{contact:partner}

= paginate_html
