
- @page_title = "Business Partners"

- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = ""


.row-fluid
  .span6.r
    = link_to 'Export', partners_path(format: 'xls'), class: 'btn'

    %tags(model='Contact' tag-ids='#{ tag_ids }' url='#{ }')
    = link_to "New Business Partner...", new_partner_path, class: 'btn btn-secondary'

= render 'search'
%p
  = @search_term ? "Search: " + @search_term : ""

- paginate_html = paginate(@partners)

= paginate_html

%ul.unstyled.listing.has-row-check
  - @partners.each do |partner|
    = render partial:"contact", locals:{contact:partner}

= paginate_html
