- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to "Business Partners", partners_path}

.row-fluid
  .span8
    %h1.n
      = @partner.name

  .span4.r.btn-group
    = link_to "Edit this partner...", edit_partner_path(@partner), class: 'btn'
    = button_to "Destroy this partner", partner_path(@partner), class: 'btn', data: { turbo_confirm: "Esta seguro de borra el contacto" }, method: :delete

%table
  %tr
    %th Matchcode:
    %td= @partner.matchcode
  %tr
    %th Email:
    %td= @partner.email
  %tr
    %th Tax Number:
    %td= @partner.tax_number
  %tr
    %th Address:
    %td= @partner.address
  %tr
    %th Phone:
    %td= @partner.phone
  %tr
    %th Mobile:
    %td= @partner.mobile

%h2 口座
- @partner.contact_accounts.each do |ca|
  = render ca
= link_to "New Contact Account...", new_partner_contact_account_path(@partner)

%h3.n Operaciones  取引先との取引の一覧

%ul.unstyled.inline
  %li
    = link_to "Todas", partner_path(@partner, operation: :all), class: param_bold_for(:operation, 'all')
  %li
    = link_to "Ingresos", partner_path(@partner, operation: :income), class: param_bold_for(:operation, 'income')
  %li
    = link_to "Expenses", partner_path(@partner, operation: :expense), class: param_bold_for(:operation, 'expense')
  %li
    = link_to "Prestamos otorgados", partner_path(@partner, operation: :loangive), class: param_bold_for(:operation, 'loangive')
  %li
    = link_to "Prestamos recibidos", partner_path(@partner, operation: :loanreceive), class: param_bold_for(:operation, 'loanreceive')

- orders = @partner.op_list(:all).page(params[:page])  # TODO: params を使う

= paginate(orders)

%ul.listing.unstyled(style='margin-top: 10px')
  %li.row-fluid
    .span8
    .span4
      .span6
        %strong.muted Total
      .span6
        %strong.muted Saldo

  - orders.each do |order|
    = order.inspect  # TODO: impl.

= paginate(orders)

