
<% # @param @order PO
   # @param @inv model object %>

<%= bootstrap_form_with model: @inv, url: {action:"create"},
                      layout: :horizontal do |f| %>
  <%= error_messages_for 'inv' %>

  <%= hidden_field_tag :po_id, @order.id %>

<div class="row">
  <label>Purchase Order:</label>
  <h4><%= link_to @order.id, @order, target: '_blank' %></h4>
</div>

  <%= f.date_field :date, label: '入庫日:' %>

  <% # なぜかエラーになる. why? => must call `super()` in `initialize()` %>
  <%= f.text_field :description, label: 'Description:' %>

  <%= f.select :account_id,
            options_from_collection_for_select(
                    ContactAccount.joins(:account).where('contact_accounts.contact_id = ? AND accounts.currency = ?', @order.contact_id, @order.currency), 
                    :account_id, :name, @inv.account_id),
            required:false %>

<div class="row text-bg-secondary">
  <div class="col-3">Item</div>
  <div class="col-2">Unit Price</div>
  <div class="col-2">Undelivered qty</div>
  <div class="col-2">数量</div>
  <div class="col-3">
      Cantidad a<br />
      recoger
  </div>
</div>

<% lines = [@inv.details.length + 2, 6].max %>
<% (0.. lines - 1).each do |idx|   %>
<%   detail_obj = @inv.details[idx] || InventoryDetail.new %>

  <%= render partial: "inventories/detail_edit_row",
             locals: {lineno: idx + 1, detail_obj: detail_obj} %>
<% end %>
  
  <%= f.submit 'Recoger mercadería', class: 'btn btn-primary' %>
<% end %>

