
= bootstrap_form_for(@store, layout: :horizontal) do |f|
  = f.text_field :name, label: 'Name', input_html: { size: 35 }
  = f.check_box :active, label: 'Activo'
  = f.text_field :phone, label: 'Phone', input_html: {size: 12}
  = f.text_field :address, label: 'Address', as: :text, input_html: { rows: 3, cols: 45 }
  = f.text_field :description

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
