
- @page_title = "General Ledger"

- html = paginate @ledgers
= html

.input-append.search
  = form_with model: @search, url: '/account_ledgers', method: 'get', class: 'form-inline' do |f|
    = f.text_field 'text', placeholder: 'Buscar por cuenta, contacto o referencia', autocomplete: 'off'
    = f.date_field 'from'
    = f.date_field 'to'
    = f.select(:account_id, options_from_collection_for_select(Account.all, :id, :name, @search.account_id))
    = submit_tag 'Buscar', class: 'btn'

%ul.unstyled.listing
  - @ledgers.each do |ledger| 
    = render partial: 'ledger', locals:{ledger:ledger}

= html
