- content_for :links do
  %ul.breadcrumbs.span6
    %li Datos personales


.row-fluid
  .span6
    %h1= current_user
    %span.muted Token:
    = current_user.tenant_link(tenant).api_token
  .span6.r
    .btn-group
      = link_to edit_user_path(current_user), class: 'btn' do
        %i.icon-user
        Edit Profile Data

      = link_to new_user_password_path, class: 'btn' do
        %i.icon-key
        Cambiar contraseña

<br/><br/>
.row-fluid
  .span3
    %span.muted First Name:
    = current_user.first_name
  .span3
    %span.muted Last Name:
    = current_user.last_name

  .span3
    %i.icon-phone.muted(title="Phone" data-toggle="tooltip")
    = current_user.phone
  .span3
    %i.icon-mobile.muted(title="Mobile" data-toggle="tooltip")
    = current_user.mobile

.row-fluid
  .span6
    %i.icon-envelope.muted(title="E-mail" data-toggle="tooltip")
    = mail_to current_user.email unless current_user.email.blank?
  .span6
    %i.icon-building.muted(title="Address" data-toggle="tooltip")
    = nl2br current_user.address
