
= bootstrap_form_with model: @inv, url: {action:"create"}, layout: :horizontal do |f|
  = error_messages_for 'inv'

  = hidden_field_tag :order_id, @order.id

  .row-fluid
    .span6
      %label Sales Order:
      %h4.n= link_to @order.id, @order, target: '_blank'

  = f.date_field :date, label: '出荷日:' 

  -# なぜかエラーになる. why? => must call `super()` in `initialize()` 
  = f.text_field :description, label: 'Description:'

  = f.select :account_id,
            options_from_collection_for_select(ContactAccount.where(contact_id: @order.contact_id), :account_id, :name, @inv.account_id),
            required:false 

  %div.row.text-bg-secondary
    %div.col-3 Item
    %div.col-2 Unit Price
    %div.col-2 Undelivered qty
    %div.col-2 数量
    %div.col-3
      Cantidad a<br />recoger

  - lines = [@inv.details.length + 2, 6].max 
  - (0.. lines - 1).each do |idx|  
    - detail_obj = @inv.details[idx] || InventoryDetail.new 

    = render partial: "inventories/detail_edit_row",
             locals: {lineno: idx + 1, detail_obj: detail_obj} 


  .form-actions
    = f.submit '商品を配送する', class: 'btn btn-primary'
