:css
  #item-form{max-width: 800px; }
  #item-form .well .form-horizontal label{ width: 100px; }

= bootstrap_form_for(@item, layout: :horizontal) do |f|
  = error_messages_for 'item'

  = f.text_field :name, label: 'Name:', input_html: { class: 'span11' }
  = f.check_box :active, label: 'Active', hint: 'Visible en operaciones'

  = f.text_field :code, label: 'Item Code:', input_html: { class: 'span11' }

  = f.select :unit_id, Unit.order('name asc').map { |v| [v.to_s, v.id] },
                     {required:false, label:'Unit of Measure:'}, { class: 'span8' }

  = f.text_field :description, label: 'Description', input_html: {class: 'span12'}

  = f.select(:accounting_id, options_from_collection_for_select(ItemAccounting.all, :id, :name, @item.accounting_id), required:false ) 

  .row
    .span6.well.well-small
      = f.number_field :buy_price,
        label: "Buy Price: <strong>Compra</strong> #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

    .span6.well.well-small
      .row-fluid
        .span6.form-inline
          = f.check_box :for_sale, label: 'For Sale'.html_safe,
            hint: 'Permitir venta'
        .span6
          = f.number_field :price, label: "Price: <strong>Venta</strong> #{currency_label}".html_safe,
            input_html: {size: 12, type: 'decimal'}

  .form-actions
    = f.submit "Save", class: 'btn btn-primary b'

= render 'items/js'
