.search.input-append
  = bootstrap_form_with model:@search, url:{action:"index"}, method: 'get', layout: :inline do |f|
    = f.select :active, [["All", 0], ["Active", 1], ["Inactive", 2]], label:"Active:"

    = f.select :for_sale, [["All", 0], ["For sale", 1], ["Not for sale", 2]], label:"For Sale:"

    = f.select :stockable, [["All", 0], ["Stockable", 1], ["Not for stock", 2]], label: "Stockable:"

    = f.text_field 'search', hide_label:true, placeholder: 'Buscar por nombre o código', inline:true
    = f.submit 'Filter', class: 'btn btn-primary'
    = f.submit 'Reset', name:"reset", class: 'btn btn-secondary'

