
- @page_title = "Product/Item Master"

- content_for :links do
  %div.btn-group{role: "group"}
    = link_to "New Item...", new_item_path, class: 'btn btn-secondary'


= render 'search'
%p
  = @search.nothing? ? "" : "Search: " + @search.attributes.inspect


- paginate_html = paginate @items

= paginate_html

-# cache [organisation_name, @items] do
%ul#items-list.unstyled.listing.has-row-check
  =render @items

= paginate_html

= render 'index_tour'
