- content_for :links do
  %ul.breadcrumbs.span6
    %li #{ link_to "Items", items_path }

.row-fluid
  .span8
    %h2.n= @item.name
  .span4.r
    .btn-group
      = link_to "Edit this item...", edit_item_path(@item), class: 'btn'
      = button_to "Destroy this item", @item, class: 'btn', data:{turbo_confirm: "Esta seguro de borra el ítem"}, method: :delete

%div.row
  %div.col Name:
  %div.col= @item.name

%div.row
  %div.col Code:
  %div.col= @item.code

%div.row
  %div.col Active:
  %div.col= @item.active

  .span3
    %span.text-muted.muted Venta:
    %span.for_sale.icon(class="icon-large icon-#{@item.for_sale}")

  .span6
    %span.text-muted.muted Unidad:
    %span.unit= @item.unit

.row-fluid
  .span6.well.well-small
    %span.text-muted.muted Precio de COMPRA
    %strong= ntc @item.buy_price
    = currency_label

  .span6.well.well-small
    %span.text-muted.muted Precio de VENTA:

    %strong= ntc @item.price
    = currency_label

.row-fluid
  .span6
    %label Description
    = @item.description

.row-fluid
  .span6
    %h3 Adjuntos
    = render 'attachments/attachments', attachable: @item

  .span6
    %h3.n Historial

    %ul.unstyled
      = render partial: 'histories/history', collection: @item.histories



.page-header
  %h3.n Inventario
- @item.stocks.includes(:store).each do |st|
  .moneybox.fl
    %label= st.store
    %h4.n= st.quantity

