- content_for :links do
  %ul.breadcrumbs
    %li
      &nbsp;

.row-fluid
  .span6
    %h1 Unit of Measure
  .span6.r
    = link_to "New UoM...", new_unit_path, class: 'btn btn-secondary' 

%table.table.table-striped
  %tr
    %th Name
    %th Symbol
    %th

  - @units.each do |unit|
    %tr
      %td
        %strong= unit
      %td
        = unit.symbol
      %td
        = link_to icon_edit, edit_unit_path(unit), class: 'dark'
        = link_to icon_delete, unit, class: 'dark', method: :delete, confirm: 'Esta segur@ de borrar la Unit of Measure?'
