
- @page_title = "Units of Measure"

- content_for :links do
  %ul.breadcrumbs
    %li
      &nbsp;

%p 単位表は, UN/ECE Recommendation No.20 を使う。しかし, code は意味をなさない。表示は symbol を使え.

.row-fluid
  .span6.r
    = link_to "New UoM...", new_unit_path, class: 'btn btn-secondary' 

%table.table.table-striped
  %tr
    %th Name
    %th Symbol
    %th

  - @units.each do |unit|
    %tr
      %td
        %strong= unit.name
      %td
        = unit.symbol
      %td
        = link_to "Edit...", edit_unit_path(unit), class: 'btn'
        = button_to "Destroy", unit, class: 'btn', method: :delete, data:{turbo_confirm: 'Esta segur@ de borrar la Unit of Measure?'}, form_class:"d-inline"
