
<%= bootstrap_form_with model: @order, url:{action:"create"}, layout: :horizontal do |f| %>
  <%= bonsai_form_error(f) %>

    <%# Render common form elements %>
  <%= render 'movements/shared_form', f: f  %>
  <%= render 'movements/form_direct_payment', f: f %>

  <%# Render items %>
  <%= render 'movements/form_items', f: f %>


  <div class="form-actions">
    <% if @order.draft? %>
        <div class="ib" ng-hide="direct_payment">
          <%= f.submit 'Save borrador', class: 'btn b btn-large trans', name: 'commit_save' %>
          <br>
          <small class="muted">Salva un borrador o proforma</small>
        </div>
        <div class="ib">
          <%= f.submit value: 'Save y aprobar', class: 'btn b btn-large btn-primary', name: 'commit_approve' %>
          <br>
          <small class="muted">Salva y permite cobros</small>
        </div>
      <% else %>
        <%= f.submit 'Save', class: 'btn btn-primary btn-large b' %>
      <% end %>
    </div>
  <% end %>
</div>

<%# Help tours %>
<%# = render 'incomes/tour' %>

<script type="text/javascript">
  (function($) {
    $('body').on('new-contact', '.contact-form', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode);
    })

    fx.rates = exchangeRates.rates;
  })(jQuery)
</script>
