- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Sales Orders", sales_orders_path


.row-fluid
  .span6
    %h1.ib
      %strong(title='Código ingreso, Ingreso-Año-Número' data-toggle='tooltip')= @income
      %small.state(title='Status' data-toggle='tooltip')= @order.state

    %h4.ib
      = link_to @order.contact, partner_path(@order.contact.id), title: 'Contacto', data: { toggle: 'tooltip' }

    .clearfix
    -# %tagsfor(tag_ids="#{@income.tag_ids}" id="#{@income.id}")

    %h5.n.ib
      %span.muted Fecha:
      %i= @order.date
      = render_if @order.delivery_date do
        = @order.delivery_date


  .span6.r.buttons
    %input.row-check.hidden(type='checkbox' id="#{@order.id}" checked='checked')
    %tags(model='Income' hide-filter='true' tag-ids='false')

    -# Approve form
    - if @order.draft?
      = link_to 'Aprobar', approve_sales_order_path(@order), method: :patch, class: 'btn btn-success b'
    -# Null form
    - if @order.can_null?
      = link_to 'Anular', null_sales_order_path(@order), method: :patch, class: 'btn btn-danger b', data: { confirm: 'Esta segur@ de anular' }

    .btn-group
      = link_to "Edit this SO...", edit_sales_order_path(@order.id), class: 'btn' unless @order.nulled?

      = link_to sales_order_path(@order.id, format: 'pdf'), class: 'btn' do
        %i.icon-pdf
        PDF

      = link_to sales_order_path(@order.id, format: 'print'), class: 'btn' do
        %i.icon-print
        Imprimir

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        %span.total= ntc @order.total
        = currency_label @order.currency

    .moneybox
      %label SALDO
      %h5.n
        %span#balance(data-amount="#{@order.balance_inventory}")= ntc @order.balance_inventory
        = currency_label @order.currency

  .span6
    -#%span.muted Proyecto:
    -#= link_to @order.project, @income.project if @income.project
    .clearfix

%h2
  Items

-# = render "movements/items", income: @income

- unless @order.draft?
  .row-fluid
    -# Ledgers
    .span6.bg-white
      = render 'ledger_details', income: @order

    -# Inventory
    #inventory.span6.bg-white
      = render 'inventory_details', income: @order



-#Tours
-#= render 'incomes/tour_devolution'

:javascript
  $( function() {
    // null income
    $('#null-income-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })
  });
