<h1 class="c login">
  Cambio de contraseña
</h1>

<div class="initial c">
  <%= simple_form_for @reset_password, url: reset_password_path(params[:id]), method: 'put' do |f| %>
    <%= hidden_field_tag :id, params[:id] %>
    <div class="large">
      <i class="muted icon-key icon" title="Nueva contraseña"></i>
      <%= f.input :password, label: false, input_html: { placeholder: 'Nueva contraseña' } %>
    </div>
    <div class="large">
      <i class="muted icon-key icon" title="Repetir contraseña"></i>
      <%= f.input :password_confirmation, label: false, input_html: { placeholder: 'Confirmación de contraseña' } %>
    </div>
    <div class="form_actions">
      <%= f.submit "Cambiar contraseña", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
