
<% # 元々, Foundation 5 の書き方になっていた。v6 にするのも書き換えがいるので
   # Bootstrap に移行する.
  %>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" >盆栽 ERP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('views.menu.reports') %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("views.menu.dashboard"), dashboard_path,
                    class:"dropdown-item" %></li>
            <li><%= link_to t("views.menu.reports"), reports_path,
                    class:"dropdown-item" %></li>
            <li>
              <%= link_to t("views.menu.inventory"), inventory_report_path,
                  class:"dropdown-item" %>
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Accounts
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/bank_accounts/">Bank Accounts</a>
            <li><a class="dropdown-item" href="/cashes/">Cashes</a>
            <li><a class="dropdown-item" href="/contact_accounts/">Contact Accounts</a>
            <li><a class="dropdown-item" href="/loan/">Loan</a>
            <li><a class="dropdown-item" href="/staff_accounts/">Staff Accounts</a>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/sales/">Sales</a>
            <li><a class="dropdown-item" href="/expenses/">Expenses</a>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            元帳
          </a>
          <ul class="dropdown-menu">              
            <li><%= link_to t('views.menu.etiquetas'), tag_groups_path,
                    class:"dropdown-item" %>
            <li><%= link_to t("views.menu.ledgers"), account_ledgers_path,
                    class:"dropdown-item" %>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('views.menu.inventarios') %>
          </a>
          <ul class="dropdown-menu">              
            <li><%= link_to t("views.menu.stores"), stores_path,
                    class:"dropdown-item" %>
            <li><%= link_to t("views.menu.items"), items_path,
                    class:"dropdown-item" %>
            <li><%= link_to t("views.menu.inventory_operations"),
                    inventories_path, class:"dropdown-item" %>
            <li><%= link_to t("views.menu.units"), units_path,
                    class:"dropdown-item" %>
          </ul>
        </li>
      </ul>
<% # 以上が left menu bar %>

      <form class="d-flex me-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <span class="navbar-text me-2">
        <%= current_organisation %>
        <%= " (" + Apartment::Tenant.current + ")" %>
      </span>
      
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('views.menu.configuration'), configurations_path,
                            class:"dropdown-item" %>
            <li><%= link_to "Profile", user_path(current_user.id),
                            class:"dropdown-item" %>
            <li><%= link_to t('views.menu.logout'), "/user_session",
                            data:{"turbo-method": :delete},
                            class:"dropdown-item" %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
