<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="height=device-height; width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no; target-densitydpi=device-dpi" name="viewport" />
    <link rel="shortcut icon" href="/bonsai.ico" type="image/x-icon" />
    <%= csrf_meta_tag %>

    <title>Bonsai</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_importmap_tags %>
    
    <%= cdn_scripts 'jquery', 'angular' %>
    <% if Rails.env.production? %>
      <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="5764f05c4e7d87832059e096471f9bc9"></script>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <div class="session-header">
      <%= link_to "http://#{DOMAIN}" do %>
        <%= image_tag 'bonsai_tree.png' %>
      <% end %>
    </div>

    <div id="wrapper" class="cont">
      <div class="browser-list center">
        <h4 id="message" class="red">Please update your browser to improve your experience using bonsaiERP, we recommend:</h4>

        <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">
          <span class="browser chrome"></span>
          <div class="clearfix"></div>
          Google Chrome
        </a>
        <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">
          <span class="browser firefox"></span>
          <div class="clearfix"></div>
          Firefox
        </a>
      </div>

      <div class="container-fluid">
        <%= render "layouts/flash", flash: flash %>

        <% if current_user && current_user.change_default_password? %>
          <%= render 'users/change_default_password' %>
        <% end %>

        <%= yield %>
        <div class="clearfix"></div>
      </div>
    </div>
    <%= render 'layouts/footer' %>

    <%= render template: 'layouts/browser' %>
  </body>

  <script type="text/javascript">
    window.exchangeRates = { rates: {} }
    $(function() {
      $('input, textarea').placeholder();
    })
  </script>
</html>
